In [2]:
import pandas as pd

# Pandas test
p = pd.read_csv("data/train.csv")

### 列の項目

In [2]:
p.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

- [groupby](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby)

In [3]:
p[["Survived", "Sex"]].groupby("Survived").count()

          Sex
Survived
0         549
1         342

In [7]:
# seriesに使える　value_count
p["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64