In [3]:
from IPython.core.display import display
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import patsy
import seaborn as sns

import base
import styles
base.show_basic_data()

import matplotlib.cm as cm

'titanic_male'

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Test,Training,Type,Child
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S,0,1,Train,False

'titanic'

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Test,Training,Type,Child
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S,0,1,Train,False

'titanic_category'

,Intercept,C(Sex)[T.male],C(Child)[T.True],C(Embarked)[T.Q],C(Embarked)[T.S],Pclass,Survived
0,1.0,1.0,0.0,0.0,1.0,3.0,0.0

In [15]:
display("Female")
pce_f_df:pd.DataFrame = base.titanic_female.groupby(['Pclass', 'Child', 'Embarked'])['Survived'].agg(['mean', 'count'])
display(pce_f_df.style.bar(subset=['count'], color='gray').applymap(styles.gradient_by_ratio, subset=['mean']))


display("Male")
pce_m_df:pd.DataFrame = base.titanic_male.groupby(['Pclass', 'Child', 'Embarked'])['Survived'].agg(['mean', 'count'])
display(pce_m_df.style.bar(subset=['count'], color='gray').applymap(styles.gradient_by_ratio, subset=['mean']))

'Female'

'Male'